
.post-filter{
    display: flex;
     align-items: center;
     /* padding-left: 15px; */
}
.post-filter div{
    padding-right: 30px;
}
.post-filter div select{
    min-height: 36px;
}
thead th{
    text-transform: uppercase;
}

.edit-icon,.delete-icon{
    color: grey;
}
.info-icon{
    color: #1a73e8;
}
.approve-icon{
    color: green;
    border: none;
    background: white;
    padding: 1px;
}

.reject-icon{
    color: red;
    border: none;
    background: white;
    padding: 1px;
}

.cut-text { 
    overflow: hidden !important; 
    max-width: 300px;
    /* max-height: 100px; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
}
