<div class="rank_page">
    <!-- Hình ảnh đại diện rank  -->
    <div class="rank_thumb">
      <img src="../../assets/rank.png" alt="">
    </div>
    <!-- Xep hang bai viet  -->
    <div class="rank_post">
      <h3>Bài viết</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col" style="width:600px;">Tên bài viết</th>
            <th scope="col">Lượt like</th>
            <th scope="col">Lượt bình luận</th>
            <th scope="col">Đánh giá</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <a href="">Tác dụng của thức dậy sớm là gì? Tác dụng của thức dậy sớm là gì? Tác dụng của thức dậy sớm là gì? Tác dụng của thức dậy sớm là gì?</a>
            </td>
            <td>200</td>
            <td>173</td>
            <td>4.7</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <a href="">Tác dụng của thức dậy sớm là gì?</a>
            </td>
            <td>200</td>
            <td>173</td>
            <td>4.7</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>
              <a href="">Tác dụng của thức dậy sớm là gì?</a>
            </td>
            <td>200</td>
            <td>173</td>
            <td>4.7</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Xếp hạng thành viên  -->
    <div class="rank_member">
      <h3>Thành viên</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col" style="width:600px;">Tên thành viên</th>
            <th scope="col">Số bài viết</th>
            <th scope="col">Số bình luận</th>
            <th scope="col">Hạng thành viên</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="">Nguyễn Văn A</a></td>
            <td>57</td>
            <td>173</td>
            <td>Hạng kim cương</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a href="">Nguyễn Văn Toàn</a></td>
            <td>34</td>
            <td>23</td>
            <td>Hạng kim cương</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><a href="">Nguyễn Công Phượng</a></td>
            <td>43</td>
            <td>457</td>
            <td>Hạng kim cương</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>