.category-filter{
    display: flex;
     align-items: center;
     /* padding-left: 15px; */
}
.category-filter div{
    padding-right: 30px;
}
.category-filter div select{
    min-height: 36px;
}
thead th{
    text-transform: uppercase;
    /* align-items: center; */
}
.categoryFilterClass{
    min-width: 150px;
    height: 29px;
    border-radius: 5px;
}
.category-btn{
    min-width: 100px !important;
    text-align: right;
}
.category-btn i{
    padding-right: 13px;
}