
.post-filter{
    display: flex;
     align-items: center;
     /* padding-left: 15px; */
}
.post-filter div{
    padding-right: 30px;
}
.post-filter div select{
    min-height: 36px;
}
thead th{
    text-transform: uppercase;
    /* align-items: center; */
}

.edit-icon,.delete-icon{
    color: grey;
}
.info-icon{
    color: #1a73e8;
}
.approve-icon{
    color: green;
}
.reject-icon{
    color: red;
}