<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/font-awesome/css/all.css">
    <link rel="stylesheet" href="../../public/admin_style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    <title>Document</title>
</head>
<body>
    <nav class=" navbar navbar-dark bg-dark">
        <!-- style="background-color: #E8EBFF;"> -->
            <div class=""><a class="homebtn" href="">TEAM UDPT#01</a></div>
            <div class=""></div>
            <div class="row" >
                <a class="btn far fa-bell button_class" href="#" style=""></a>
                <a class="btn far fa-user-circle button_class" href="#" style=""></a>
                <a id="sign_in button_class" class="btn" href="#" style="font-size: 3vh;">Hi,Admin</a>
            </div>
    </nav>
    <div class="body" style="min-height:90vh;display:flex">
        <div class="sidenav">
            <ul class="sidenav">
                <li>
                    <a href="#"><i class="fas fa-chart-bar"></i> Tổng quan</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user"></i> Người dùng</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-store"></i> Danh mục</a>
                </li>
                <li>
                    <a href="#"><i class="far fa-calendar-check"></i> Bài đăng</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-question-circle"></i> Bình luận</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-tags"></i> Nhãn</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-cog"></i> Cài đặt</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user-cog"></i> Admins</a>
                </li>
              </ul>
        </div>
        <div class="content" >
        <!-- Bắt đầu code ở đây  -->
        <h2>Tạo admin mới</h2>
        <br><br>
        <h4 style="margin: 0 100px 0 15px;">Thông tin admin</h4>
        <br>
        <form action="" style="margin: 0 100px 0 15px;">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="id">Họ tên</label>
                        <input type="text" id="adminName" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="id">Số điện thoại</label>
                        <input type="text" id="phoneNumber" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="id">Mật khẩu</label>
                        <input type="text" id="password" class="form-control" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="id">Email</label>
                        <input type="text" id="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="id">Tên đăng nhập</label>
                        <input type="text" id="username" class="form-control" required>
                    </div>
                </div>
            </div>
            <br>
            <div class="button-class" style="float: right;">
                <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-ban"></i> Hủy</button>
                <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Tạo</button>
            </div>
        </form>
        <!-- Kết thúc code ở đây  -->
        </div>
        <!-- <div class="footer" style="
            height: 100px;
            position: fixed;
            width: calc(100% - 200px);
            bottom: 0;
            background-color: violet;
        "></div> -->
        </div>
    </div>
</body>
</html>