<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/font-awesome/css/all.css">
    <link rel="stylesheet" href="../../public/admin_style.css">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    <!-- post management -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.1/css/fileinput.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.1/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.1/themes/fa/theme.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/wafynfll6yk0et81pwlvcwdx6r76d4pl4gy3397p9126dmzm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    
</head>
<body>
    <nav class=" navbar navbar-dark bg-dark">
        <!-- style="background-color: #E8EBFF;"> -->
            <div class=""><a class="homebtn" href="">TEAM UDPT#01</a></div>
            <div class=""></div>
            <div class="row" >
                <a class="btn far fa-bell button_class" href="#" style=""></a>
                <a class="btn far fa-user-circle button_class" href="#" style=""></a>
                <a id="sign_in button_class" class="btn" href="#" style="font-size: 3vh;">Hi,Admin</a>
            </div>
    </nav>
    <div class="body" style="min-height:90vh;display:flex">
        <div class="sidenav">
            <ul class="sidenav">
                <li>
                    <a href="#"><i class="fas fa-chart-bar"></i> Tổng quan</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user"></i> Người dùng</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-store"></i> Danh mục</a>
                </li>
                <li>
                    <a href="#"><i class="far fa-calendar-check"></i> Bài đăng</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-question-circle"></i> Bình luận</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-tags"></i> Nhãn</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-cog"></i> Cài đặt</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user-cog"></i> Admins</a>
                </li>
              </ul>
        </div>
        <div class="content" >
        <!-- Bắt đầu code ở đây  -->
        
        <!-- Kết thúc code ở đây  -->
        </div>
        <!-- <div class="footer" style="
            height: 100px;
            position: fixed;
            width: calc(100% - 200px);
            bottom: 0;
            background-color: violet;
        "></div> -->
        </div>
    </div>
</body>
</html>