.col-md-4{
    padding-left: 5px;
    margin-bottom: 30px;
}
.col-md-3{
    padding-left: 5px;
    margin-bottom: 30px;
}
.post_list_category{
    padding-left: 10px;
}
.post_category_item{
    padding: 5px 0px;
    padding-left: 30px;
}
.post_category_item a{
    color: #5E72E4;
    font-weight: 550;
}
.post_category_item a:hover{
    text-decoration: none;
}
.post_category_properties{
    padding-left: 60px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 0;
    border-radius: 4px;
}
/* thiết lập style cho thẻ a */
.pagination a {
    color: black;
    float: left;
    padding:  12px 18px;
    text-decoration: none;
  }
 /* thiết lập style cho class active */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
    /*Thiết kế hình tròn với CSS*/
    border-radius: 50%;
  }
 /* thêm màu nền khi người dùng hover vào class không active */
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    /*Thiết kế hình tròn với CSS*/
    border-radius: 50%;
  }
  .center-pag{
    display: flex;
    justify-content: center;
  }
  .post_description ol li{
    list-style: auto !important;
}
.post_description ul li{
    list-style: disc !important;
}
.post_description table,td,tr{
    border-width: 1px ;
    border-style: solid ;
}
