<h2>Tạo admin mới</h2>
<br><br>
<h4 style="margin: 0 100px 0 15px;">Thông tin admin</h4>
<br>
<form action="" style="margin: 0 100px 0 15px;">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="id">Họ tên</label>
                <input type="text" id="adminName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="id">Số điện thoại</label>
                <input type="text" id="phoneNumber" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="id">Mật khẩu</label>
                <input type="text" id="password" class="form-control" required>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="id">Email</label>
                <input type="text" id="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="id">Tên đăng nhập</label>
                <input type="text" id="username" class="form-control" required>
            </div>
        </div>
    </div>
    <br>
    <div class="button-class" style="float: right;">
        <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-ban"></i> Hủy</button>
        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Tạo</button>
    </div>
</form>