<h2>Tạo người dùng mới</h2>
<br><br>
<h4 style="margin: 0 100px 0 15px;">Thông tin người dùng</h4>
<br>
<form action="" style="margin: 0 100px 0 15px;">
    <div class="row">
        <div class= "col-3">
            <img src="../../assets/avatar.jpg" width="150px" height="150px" alt="...">
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="id">Họ tên</label>
                <input type="text" id="memberName" class="form-control" required>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="id">Số điện thoại</label>
                <input type="text" id="memberPhone" class="form-control" required>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group" style="margin: 0px 0px 5px 0px;">
                <label for="id">Giới tính</label>
                <br>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Chọn giới tính</option>
                    <option value="1">Nữ</option>
                    <option value="2">Nam</option>
                    <option value="3">Khác</option>
                  </select>
            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <div class= "col-3">
            <div class="row">
                <div class="col-10">
                    <div class="form-group">
                        <label for="id">Hạng thành viên</label>
                        <input type="text" id="memberName" value ="Newbie" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="id">Tên đăng nhập</label>
                <input type="text" id="memberUsername" class="form-control" required>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="id">Mật khẩu</label>
                <input type="text" id="memberPassword" class="form-control" required>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="id">Xác nhận mật khẩu</label>
                <input type="text" id="confirmPassword" class="form-control" required>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class= "col-3">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="id">Số bài viết</label>
                    </div>
                    <div class="form-group">
                        <label for="id">Số bình luận</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" id="postNumber" value ="100" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" id="cmtNumber" value ="999" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group">
                <label for="id">Email</label>
                <input type="text" id="memberName" class="form-control" required>
            </div>
        </div>
    </div>
    <br>
    <div class="button-class" style="float: right;">
        <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-ban"></i> Hủy</button>
        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Tạo</button>
    </div>
</form>