<h2>Quản trị viên</h2>
<br>
<div class="row">
    <div class="col-2">
        <select class="form-select" aria-label="Default select example">
            <option selected>Thêm bộ lọc</option>
            <option value="1">Họ tên</option>
            <option value="2">Số điện thoại</option>
            <option value="3">Email</option>
          </select>
    </div>
    <div class="col-8"></div>
    <div class="col-2">
        <a href="#" class="btn btn-secondary" style="border-radius: 45px;">
            <i class="fas fa-plus"></i>
            <b>Admin mới</b>
        </a>
    </div>
</div>
<br>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Họ tên</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Thương Hoài</th>
            <td>+84123456789</td>
            <td>hoai.le@gmail.com</td>
            <td class="user-btn">
                <i class="fas fa-info-circle"></i>
                <i class="fas fa-pencil-alt"></i>
                <i class="far fa-trash-alt"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">Thương Hoài</th>
            <td>+84123456789</td>
            <td>hoai.le@gmail.com</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Thương Hoài</th>
            <td>+84123456789</td>
            <td>hoai.le@gmail.com</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Thương Hoài</th>
            <td>+84123456789</td>
            <td>hoai.le@gmail.com</td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>