<h2>Quản lí bình luận</h2>
<br>
<div class="row">
    <div class="col-2">
        <select name="" id="" class="cmtFilterClass" >
            <option value="" checked>Bài viết</option>
        </select>
    </div>
    <div class="col-2">

        <select name="" id="" class="cmtFilterClass">
            <option>Người bình luận</option>
        </select>
    </div>
    <div class="col-6"></div>
    <div class="col-2">
        <a href="#" class="btn btn-primary" style="border-radius: 45px;">
            <i class="fas fa-plus"></i>
            <b>Bình luận mới</b>
        </a>
    </div>
</div>
<br>
<table class="content-table table-sorttable">
    <thead>
        <tr>
            <th>Người bình luận <i class="fas fa-sort"></i></th>
            <th style="min-width: 10px;">Ngày tạo</th>
            <th>Cập nhật gần nhật</th>
            <th style="min-width: 10px;">Bài viết</th>
            <th style="min-width: 10px;">Nội dung</th>
            <th style="min-width: 10px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>a Thương Hoài</td>
            <td>20/03/2021</td>
            <td>20/03/2021</td>
            <td>Làm thế nào để dậy sớm</td>
            <td>Đặt báo thức....</td>
            <td class="cmt-btn">
                <i class="fas fa-info-circle"></i>
                <i class="fas fa-pencil-alt"></i>
                <i class="far fa-trash-alt"></i>
            </td>
        </tr>
        <tr>
            <td>Thương Hoài</td>
            <td>20/03/2021</td>
            <td>20/03/2021</td>
            <td>Làm thế nào để dậy sớm</td>
            <td>Đặt báo thức....</td>
            <td class="cmt-btn">
                <i class="fas fa-info-circle"></i>
                <i class="fas fa-pencil-alt"></i>
                <i class="far fa-trash-alt"></i>
            </td>
        </tr>
        <tr>
            <td>thương Hoài</td>
            <td>20/03/2021</td>
            <td>20/03/2021</td>
            <td>Làm thế nào để dậy sớm</td>
            <td>Đặt báo thức....</td>
            <td class="cmt-btn">
                <i class="fas fa-info-circle"></i>
                <i class="fas fa-pencil-alt"></i>
                <i class="far fa-trash-alt"></i>
            </td>
        </tr>
        <tr>
            <td>hương Hoài</td>
            <td>20/03/2021</td>
            <td>20/03/2021</td>
            <td>Làm thế nào để dậy sớmLàm thế nào để dậy sớmLàm thế nào để dậy sớmLàm thế nào để dậy sớmLàm thế nào để dậy sớmLàm thế nào để dậy sớmLàm thế nào để dậy sớm</td>
            <td>Đặt báo thức....</td>
            <td class="cmt-btn">
                <i class="fas fa-info-circle"></i>
                <i class="fas fa-pencil-alt"></i>
                <i class="far fa-trash-alt"></i>
            </td>
        </tr>
    </tbody>
</table>