<h2>Quản lí nhãn</h2>
        <br>
        <div class="row">
            <div class="col-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Tên nhãn</option>
                  </select>
            </div>
            <div class="col-8"></div>
            <div class="col-2">
                <a href="#" class="btn btn-secondary" style="border-radius: 45px;">
                    <i class="fas fa-plus"></i>
                    <b>Nhãn mới</b>
                </a>
            </div>
        </div>
        <br>
        
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên nhãn</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Nhãn 1</td>
                    <td>Lĩnh vực tự nhiên</td>
                    <td class="user-btn">
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-pencil-alt"></i>
                        <i class="far fa-trash-alt"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Nhãn 2</td>
                    <td>Lĩnh vực tự nhiên</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Nhãn 3</td>
                    <td>Lĩnh vực tự nhiên</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Nhãn 4</td>
                    <td>Lĩnh vực tự nhiên</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>