<ul class="setting_class{
    ">
    <li class="setting_header"><strong>Cài đặt</strong></li>
    <li>
        <ul class="setting_member">
            <li><strong>Cài đặt thông báo</strong></li>
            <li >
                <div class="setting_member row">
                    <input class="" type="checkbox" checked>
                    <label>Gửi thông báo qua mail (admin@gmail.com)</label>
                </div>
            </li>
            <br>
            <li><strong>Chế độ duyệt tự động</strong></li>
            <li>
                <div class="setting_member row">
                    <input class="" type="checkbox" checked>
                    <label>Bật</label>
                </div>
            </li>
        </ul>
    </li>
    <br>
</ul> 