.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 57px;
    left: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
    padding-top: 20px;
  }
.sidenav a {
    padding: 6px 0px 6px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}
#container{
    max-width: 100%;
    width: auto !important;
    margin: 0px auto;
    padding-left: 0;
}
#header{
    background-color: #2f323e;
}
#footer{
    position: fixed;
    margin-left: 11.7%;
    bottom: 0;
    width: 86.4%;
}
.body_card{
    padding-left: 180px;
}