<div class="profile_edit">
  <div id = "top_profile_page" class="background">
    <div class="col-md-6">
      <div class="avatar">
        <img class="avatar_size" src="client/public/assets/avatar.jpg" alt="">
      </div>
      <div class="item edit_avatar">
        <a href=""><i class="fas fa-camera fa-2x"></i></a></i>
      </div>
    </div>
    <div id="your_info" class="col-md-6">
      <ul class="">
        <li class="name">
          <h1>THƯƠNG HOÀI</h1>
        </li>
        <li class="job">Sinh viên</li>
      </ul>
      <div class="posts_react col-md-6 col-md-offset-3">
        <div class="posts_like">
          <i class="fas fa-file-alt"></i>
          <p class="posts_num">25</p>
        </div>
        <div class="posts_comment">
          <i class="fas fa-comment"></i>
          <p class="posts_comment_num">99</p>
        </div>
      </div>
    </div>
  </div>
    <div id="pf_posts" class="background_pf_posts">
      <div class="list_your_post">
        <div class="title">
          <div class="left_titles">Thông tin cá nhân</div>
        </div>
        <form id="info">
          <div class="info">
            <!-- <form> -->
              <h5><b>Ảnh đại diện</b></h5>
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-default" disabled>
                    <i class="glyphicon glyphicon-phone"></i>
                  </button>
                </div>
                <input type="file" class="form-control" name="user_thumb">
              </div>
           <!-- </form> -->
          </div>
          <div class="info">
            <!-- <form> -->
              <h5><b>Họ và tên</b></h5>
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-default" disabled>
                    <i class="glyphicon glyphicon-phone"></i>
                  </button>
                </div>
                <input type="text" class="form-control" value="" name="fullname" placeholder="Nhập họ và tên">
              </div>
           <!-- </form> -->
          </div>
          <div class="info">
            <!-- <form> -->
              <h5><b>Số điện thoại</b></h5>
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-default" disabled>
                    <i class="glyphicon glyphicon-phone"></i>
                  </button>
                </div>
                <input type="text" class="form-control" value="" placeholder="Nhập số điện thoại" name="phoneNumber">
              </div>
           <!-- </form> -->
          </div>
          <div class="info">
            <!-- <form> -->
              <h5><b>Email</b></h5>
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-default" disabled>
                    <i class="glyphicon glyphicon-envelope"></i>
                  </button>
                </div>
                <input type="text" class="form-control" value="" placeholder="Nhập email" name="email">
              </div>
           <!-- </form> -->
          </div>
          <div class="info">
            <!-- <form> -->
              <h5><b>Địa chỉ</b></h5>
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-default" disabled>
                    <i class="glyphicon glyphicon-home"></i>
                  </button>
                </div>
                <input type="text" class="form-control" value="" placeholder="Nhập địa chỉ" name="address">
              </div>
           <!-- </form> -->
          </div>
          
          <input type="submit" class="btn btn-primary" value="Cập nhật" name="btn_update" style="margin:10px 0px 10px 100px; width: 85%;">
        </form>
      </div>
    </div>
</div>
